<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		 <link rel="stylesheet" type="text/css" href="/assets/style.css"> 
		<script type="text/javascript" src='/assets/burgers.js'></script>
		</head>
	<body>
		{{{ body }}}
	</body>
</html>