<!DOCTYPE html>
<html>
<head>
	<title>burger</title>
</head>
<body>
<h1>Burger</h1>
<form class="create-form">

  <div class="form-group">
    <label for="burger-name">Enter Burger Name :</label>
    <input type="text" id="burger-name" name="burgerName">
  </div>
	<button type="submit">Add Burger</button>
</form>

<script type="text/javascript">
	$(".create-form").on("submit", function(event) {
    
    event.preventDefault();

    var newBurger =  {
      burgerName: $("#burger-name").val().trim()}

    console.log(newBurger);
    

    // Send the POST request.
    $.ajax("/api/burger", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new Burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

</script>


</body>
</html>