
<h1>Burger</h1>
<div class='eat-burger'>
	{{#each burgers}}
	{{#unless devoured}}
	
	<p> {{this.id}}.{{this.burger_name}}</p>
	<button class='eat-burger-button' data-id='{{this.id}}'>devoured </button>
	{{/unless}}
	{{/each}}
	<p>*************************</p>
</div>
<div class='make-burger'>
	<h1>eaten burgers</h1>
	{{#each burgers}}
	{{#if devoured}}
	<p>{{burger_name}}</p>
	{{/if}}
	{{/each}}
</div>

<form class="create-form">

  <div class="form-group">
    <label for="burger-name">Enter Burger Name :</label>
    <input type="text" id="burger-name" name="burgerName">
  </div>
	<button type="submit">Add Burger</button>
</form>



